@tailwind preflight;
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Vue select scss
@import "vue-select/src/scss/vue-select.scss";
body {
    line-height: 1.625rem;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: "Curse Casual JVE";
}

p {
    font-family: National-Book;
}

ul {
    list-style: none;
}

@tailwind components;
.cta-button {
    background-color: $signifly-pink;
    padding: 1rem;
    border-radius: .125rem;
    color: white;
}

.description {
    font-weight: 300;
    line-height: 26px;
}

.hover\:.zoom {
    transform: scale(1.1);
}

@tailwind utilities;