@tailwind preflight;
// customized bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
// Variables
@import "variables";
// Vue select scss
@import "vue-select/src/scss/vue-select.scss";
body {
    line-height: 1.625rem;
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
}

button,
input {
    font-family: "Source Sans Pro", sans-serif;
}

input:focus,
select:focus {
    border-color: #081228;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

@font-face {
    font-family: Curse Casual JVE;
    src: url(../css/CurseCasualJVE.ttf);
}

@font-face {
    font-family: National-Book;
    src: url(../css/National-Book.otf);
}

h1 {
    font-family: Curse Casual JVE;
}

p {
    font-family: National-Book;
}

ul {
    list-style: none;
}

button:focus {
    outline: none;
}

button.button-pink:hover,
button.button-pink:focus {
    background-color: #f799ab;
}

button.button-green:hover,
button.button-green:focus {
    background-color: #a4e8c3;
}

@tailwind components;
.button-pink {
    background-color: $signifly-pink;
    padding: 1rem;
    border-radius: 0.125rem;
    color: white;
}

.button-green {
    background-color: $signifly-light-green;
    padding: 1rem;
    border-radius: 0.125rem;
    color: white;
}

.description {
    font-weight: 300;
    line-height: 26px;
}

.hover\:.zoom {
    transform: scale(1.1);
}

@tailwind utilities;